$primary-green:#50d282;
$grey1:#676767;
$grey2:#999999;
$grey3:#cbcbcb;
$gray4:#dadada;
$white:#ffffff;
$error:#c23b22;

$facebook-blue:#475993;


//Hover Primary 
$primary-green-hover: lighten($primary-green, 5%);
//Active Primary 
$primary-green-active: darken($primary-green, 10%);
