.dashboard{
    display: flex;
    background-color: $background;
    .right-container{
        width:100%;
        .user-card-container{
            overflow-y: auto;
            padding: 25px;
            height: 80vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}